name: Publish release
on:
  push:
    branches:
      - master

env:
  GH_TOKEN: ${{ github.token }}
  GITHUB_TOKEN: ${{ github.token }}
jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: "20.14.0"
          
      - name: "Install pnpm"
        if: github.ref == 'refs/heads/master'
        run: |
          npm install -g pnpm@8.7.1

      - name: "Apply tag"
        if: github.ref == 'refs/heads/master'
        run: |
          CURRENT_TAG=$(git tag -l 'v*' | sort -V | tail -n 1)
          pnpm install
          pnpm run ci:release
# EOF
