name: Publish release
on:
  push:
    branches:
      - master

env:
  GH_TOKEN: ${{ github.token }}
  GITHUB_TOKEN: ${{ github.token }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: "Apply tag"
        run: |
          CURRENT_TAG=$(git tag -l 'v*' | sort -V | tail -n 1)
          npm install
          npm run ci:release
# EOF
